<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Liu Baocheng">
        <title>gliubc</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Favicons -->
<!--         <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
        <link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
        <link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
        <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
        <meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
 -->        <meta name="theme-color" content="#343a40">
        <style>
            .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            }
            @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
            }
        </style>
        <!-- Custom styles for this template -->
        <link href="offcanvas.css" rel="stylesheet">
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand mr-auto mr-lg-0" href="#">gliubc</a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Switch account</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="https://github.com/gliubc/gliubc.github.io/edit/master/data.json">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="refresh">Refresh</button>
                </form>
            </div>
        </nav>
        <div class="nav-scroller bg-white shadow-sm">
            <nav class="nav nav-underline">
                <a class="nav-link active" href="#">Dashboard</a>
                <a class="nav-link" href="#">
                Friends
                <span class="badge badge-pill bg-light align-text-bottom">27</span>
                </a>
                <a class="nav-link" href="#">Explore</a>
                <a class="nav-link" href="#">Suggestions</a>
            </nav>
        </div>
        <main role="main" class="container" id="app">
            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
                <svg class="mr-3" style="fill: white" height="48" viewBox="0 0 16 16" version="1.1" width="48" aria-hidden="true">
                    <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                </svg>
                <div class="lh-100">
                    <h6 class="mb-0 text-white lh-100">GitHub</h6>
                    <small>Since 2007</small>
                </div>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>
                <template>
                    <div class="media text-muted pt-3" v-for="(title, href) in suggestions">
                        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" :fill="href.hexColor()"/>
                            <text x="50%" y="50%" :fill="title.hexColor()" dy=".3em"></text>
                        </svg>
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="text-gray-dark"><a :href="href">{{title}}</a></strong>
                            </div>
                            <span class="d-block">{{href}}</span>
                        </div>
                    </div>
                </template>
                <small class="d-block text-right mt-3">
                <a href="https://www.google.com/">All suggestions</a>
                </small>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
                <template>
                    <div class="media text-muted pt-3" v-for="(title, href) in recent_updates">
                        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" :fill="href.hexColor()"/>
                            <text x="50%" y="50%" :fill="title.hexColor()" dy=".3em"></text>
                        </svg>
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark"><a :href="href">{{title}}</a></strong>
                            {{href}}
                        </p>
                    </div>
                </template>
                <small class="d-block text-right mt-3">
                <a href="https://stackoverflow.com/">All updates</a>
                </small>
            </div>
        </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <!-- pinyin -->
        <script src="https://hotoo.github.io/pinyin/dist/bundle.js?nowrap"></script>

        <script src="offcanvas.js"></script>

        <script>
            var vm, jsonData, search;

            var pinyin = window['pinyin'];

            $(function () {
                vm = new Vue({
                    el: '#app',
                    data: {
                        suggestions: {},
                        recent_updates: {},
                    },
                    mounted: function () {
                        vm = this;
                    }
                });

                $.getJSON("data.json", function (data) {
                    jsonData = data;
                    filter();
                    update();
                });

                $('#search').keyup(function (event) {
                    search = $('#search').val();
                    filter();
                });

                $('#refresh').click(update);

                setInterval(update, 30 * 1000);
            });

            function filter() {
                var filteredData = $.extend(true, {}, jsonData);
                for (var group in filteredData) {
                    for (var key in filteredData[group]) {
                        var value = filteredData[group][key];
                        var text = key + value;
                        var pinyin_text = pinyin(text, {
                            style: pinyin['STYLE_NORMAL']
                        }).join('');
                        var pinyin_search = pinyin(search, {
                            style: pinyin['STYLE_NORMAL']
                        }).join('');

                        if (!match(search, text) && !match(pinyin_search, pinyin_text)) {
                            delete filteredData[group][key];
                        }
                    }
                }
                vm.suggestions = filteredData.suggestions;
                vm.recent_updates = filteredData.recent_updates;
            }

            function update() {
                $.getJSON("data.json?timestamp=" + Date.now(), function (data) {
                    jsonData = data;
                    filter();
                });
            }

            function match(keyword, text) {
                var i, index, keywords;

                keyword = keyword || "";
                text = text || "";

                keyword = keyword.trim().toLowerCase().replace(/_/g, '');
                text = text.trim().toLowerCase().replace(/_/g, '');

                if (!keyword) return true;

                keywords = keyword.split(' ').filter(word => word.length > 0);
                for (i in keywords) {
                    index = text.indexOf(keywords[i]);
                    if (index === -1) {
                        return false;
                    }
                }
                return true;
            }

            String.prototype.hashCode = function() {
                var hash = 0, i, chr;
                if (this.length === 0) return hash;
                for (i = 0; i < this.length; i++) {
                    chr   = this.charCodeAt(i);
                    hash  = ((hash << 5) - hash) + chr;
                    hash |= 0; // Convert to 32bit integer
                }
                return hash;
            };

            String.prototype.hexColor = function() {
                var hexString = Math.abs(this.hashCode()).toString(16);
                if (hexString.length < 6) {
                    return '#' + hexString + '0'.repeat(6 - hexString.length);
                } else {
                    return '#' + hexString.substring(0, 6);
                }
            };

        </script>
    </body>
</html>